<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home </title>
</head>
<body>
    <div class="container">
        <h1><center>Students Exam Score</h1></center>
        <form id="upload-form" action="{% url 'prompt' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <center><label for="csv-file">Choose a CSV file:</label></center>
          <input type="file" id="csv-file" name="csv_file" accept=".text/csv" required>
          <button type="submit">Upload and Read</button>
        </form>
        <div id="output"></div>
    </div>
</body>
</html>